@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}


body {
  	color: #b7282e;	/*主文字色*/
  	font-weight: 400;
  	font-size: 16px;
  	font-family: "Martel Sans", Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	overflow: hidden;
  	overflow-y: scroll;
  	/* force scroll to appear */
}

/* helper class when showing content */

a {
  	outline: none;
  	color: #b7282e;	/*リンク色*/
  	text-decoration: none;
}

/* grid item element and full content element styles */
.title {
  margin-top: 30px;
  font-size: 1.875em;
  font-family: "Playfair Display", serif;
  text-align: center;
}

/* content elements */

.title--full {
	font-size: 3.25em;
}

.title--full {  
	opacity: 0;
}

.title--full {
  	-webkit-transform: translate3d(0, 40px, 0);
  	transform: translate3d(0, 40px, 0);
}


.title--full {
  	opacity: 1;
  	-webkit-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  	transition: transform 0.3s, opacity 0.3s;
  	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.title--full {
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
}

.title--full {
  	-webkit-transition-delay: 0.05s;
  	transition-delay: 0.05s;
}


/* close button (for content and sidebar) */
.close-button {
  	position: absolute;
  	border: none;
  	background: none;
  	margin: 0;
  	z-index: 100;
  	top: 0;
  	right: 0;
  	font-size: 18px;
  	color: #ddd;
  	cursor: pointer;
  	pointer-events: none;
  	padding: 20px 30px;
  	opacity: 0;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
	-ms-user-select: none;
  	user-select: none;
  	-webkit-transition: opacity 0.3s;
  	transition: opacity 0.3s;
}

.close-button span {
  	display: none;
}

.close-button:hover {
  	color: #7b7b7b;
}

.close-button {
     	opacity: 1;
     	pointer-events: auto;
}

/* show class for content close button */
.close-button--show {
  	opacity: 1;
  	pointer-events: auto;
}

/* Viewport sizes based on column number and sidebar */
@media screen and (min-width: 600px) {
  html,
  body,
.container, .main {
	height: 100vh;
}

/*　メイン調整　*/
.main {
    	height: 100%;
}

.content__item {
    	font-size: 1em;
  }

.grid__item {
    	padding: 45px 45px 30px;
  }

}

/* 本体 */
body {
  	background: #fff;
	background-image: url("../img/desk.jpg");
	background-size: cover;
}

/* コンテンツ　内容 */
.content {
  	left: auto;
  	right: 0;
  	width: 100vw;
}

.content__item p {
	text-align: center;
  	font-size: 1.15em;
	line-height: 30px;
}

.introduct {
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	word-break: break-all;
	width: 800px;

}

.meta__avatar {
	background-color: #fff;
	display: block;
  	border-radius: 50%;
  	margin: 2em auto;
	width: 60%;
	height: 60%;
}


/* 先頭文字　拡大，ライン設定　*/		
.itemtop {
	width: 100px;
	margin: 0;
  	font-size: 1.0em;
 	font-family: "Playfair Display", serif;
  	text-align: center;
	margin-left: 0px;
	padding-bottom: .1em;
	border-bottom: 1px solid #ccc;
}

.itemtop:first-letter {
	margin-right: 0.1em;
	font-size: 1.5em;
}

.link {
	background-color: rgba(255, 255, 255, 0.2);
  	font-size: 1.50em;
	font-weight: bold; 
	font-family: "Playfair Display", serif;
	text-align: center;
	margin-top: 30px;
}
.link .prev {
	text-align: center;
	margin-right: 60px;
}

.link .back {
	text-align: center;
	margin-right: 60px;
}

.link .next{
	text-align: center;
	margin-right: 60px;
}

/*# sourceMappingURL=style1.css.map */
